body
{
    background-color: #FFE3E3;
}
hr
{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%;
    height: 0px;
    border-color: black;
}
h1 :hover
{
    color: #444F5A
}
h3{
    color: #FF9999;
}
.circular
{
    border-radius: 100%;
}
